* {
    box-sizing: border-box
}

body {
    margin: 20px;
}

h1 {
    color: crimson;
}

h4 {
    color: blueviolet;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,td {
    padding: 5px;
    text-align: left;
}

a {
    text-decoration: none;
}

a:hover {
    color: coral;
    transition-duration: .5s
}
