/* CSS files add styling rules to your content */

/* CSS files add styling rules to your content */

* {
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
    background-image: url("images/cool-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Lato, sans-serif;
}

.box {
    float: left;
    padding: 50px;
    flex-wrap: nowrap;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.redbox {
    background-color: red;
}

.bluebox {
    background-color: blue;
}

.yellowbox {
    background-color: yellow;
}

.greenbox {
    background-color: green;
}

.aquabox {
    background-color: aqua;
}

.coralbox {
    background-color: coral;
}

.onecol {
    width: 100%;
}

.twocol {
    width: 50%;
}

.threecol {
    width: 33.33%;
}

/*Button*/
button {
    background-color: aquamarine;
    border-radius: 5px;
    border: none;
    padding: 10px 15px 10px 15px;
    font-size: 18px;
}

button:hover {
    background-color: coral;
    color: black;
    transition: ease-in 0.2s;
}

.important {
  font-weight: bold;
  font-size: large;
}

.blue {
  color: blue;
}

.pink {
  color: pink;
}

@media screen and (max-width:800px) {
  .onecol, .twocol, .threecol {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}